// Colors
$black: #2a2a2a;
$white: #fafafa;
$red: #fe5f57;
$green: #2bca42;
$yellow: #ffbf2d;
$light-gray: #bfbfbf;

// media queries

$tablet-land: 60em;
$tablet-port: 48em;
$phone: 41.25em;
$phone-sm: 30em;
