.hero {

  &__text,
  &__cta-wrap {
    max-width: 28.125rem;
  }

  &__link {
    max-width: 15rem;

    &:focus {
      outline: none;
    }

    &:hover &-span svg,
    &:focus &-span svg {
      fill: $black;
    }

    &-span svg  {
      height: auto;
      width: 2rem;
      fill: transparent;
    }

  }

}