.navigation {
  border-color: $black;
}

.nav {
  @media only screen and (max-width: $tablet-port) {
    flex-direction: column;
  }

  &__logo-box {
    max-width: 8rem;

    @media only screen and (max-width: $tablet-port) {
      max-width: 6rem;
      margin-bottom: 1rem;
    }
  }

  &__item {
    @media only screen and (max-width: $phone) {
      font-size: 1rem;
    }
  }

  &__item:not(:last-child) {
    margin-right: 4rem;

    @media only screen and (max-width: $tablet-port) {
      margin-right: 2rem;
    }
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }
}
