body {
    /* background-image: url("../assets/img/06.jpg");
    background-repeat: repeat-x;
    background-size: auto;
    background-position: center center; */
    background-color: $white;
}

a {
	color: inherit;
	display: inline-block;
	text-decoration: none;
}