.hero {
  &__text,
  &__cta-wrap {
    max-width: 28.125rem;
  }

  &__text {
    @media only screen and (max-width: $tablet-land) {
      max-width: 100%;
    }
  }

  &__link {
    max-width: 15rem;

    &:focus {
      @include outline-none;
    }

    &:hover &-span svg,
    &:focus &-span svg {
      fill: $black;
    }

    &-span svg {
      height: auto;
      width: 2rem;
      fill: transparent;
    }

    @media only screen and (max-width: $tablet-land) {
      display: none !important;
    }
  }

  &__img-box {
    @media only screen and (max-width: $tablet-land) {
      bottom: -3rem;
    }

    @media only screen and (max-width: $tablet-port) {
      width: 100% !important;
    }
  }
}

.marquee {
  overflow: hidden;

  &__link {
    &:hover,
    &:focus {
      background-color: $black;
      color: $white;
    }
  }

  &__text {
    margin-right: 3rem;
  }

  &__emoji {
    display: inline-block;
    max-width: 2rem;
    vertical-align: top;

    &--laptop {
      margin-left: 0.5rem;
    }
  }
}

.companies {
  // &__logos:hover &__logo {
  //   opacity: 0.35;
  // }

  // &__logos:hover &__logo:hover {
  //   opacity: 1;
  // }

  &__logos {
    @media only screen and (max-width: $tablet-land) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem 2rem;
      justify-items: center;
    }

    @media only screen and (max-width: 26.25em) {
      grid-gap: 1rem 2rem;
    }
  }

  &__logos-box {
    &:not(:last-child) {
      margin-right: 2rem;

      @media only screen and (max-width: $tablet-land) {
        margin-right: 0;
      }
    }
  }

  &__logo {
    margin: 0 auto;

    @media only screen and (max-width: $tablet-land) {
      max-width: 12rem;
    }

    @media only screen and (max-width: $phone-sm) {
      max-width: 10rem;
    }

    &--miranda {
      @media only screen and (max-width: $phone-sm) {
        max-width: 7rem;
      }
    }

    &--prana {
      max-width: 8.75rem;

      @media only screen and (max-width: $tablet-land) {
        max-width: 7rem;
      }
    }
  }
}

.tools {
  &__info {
    @media only screen and (max-width: $tablet-land) {
      width: 100% !important;
    }
  }

  &__services {
    @media only screen and (max-width: $tablet-port) {
      flex-direction: column !important;
    }
  }

  &__service {
    @media only screen and (max-width: $tablet-port) {
      width: 100% !important;
    }

    &:not(:last-child) {
      @media only screen and (max-width: $tablet-port) {
        margin-bottom: 2rem;
      }
    }

    &-header {
      max-width: 15.5rem;
    }

    &-decor {
      bottom: -0.25rem;
    }
  }
}

.projects {
  &__header {
    max-width: 24.25rem;
  }

  &__carousel-arrow {
    cursor: pointer;
    padding: 0;

    &:focus {
      @include outline-none;
    }
  }

  &__carousel-arrow svg {
    &:hover {
      fill: $black;
    }
  }

  &__carousel-arrow:focus svg {
    fill: $black;
  }

  &__carousel {
    .slick-list {
      padding: 0 0 !important;
    }

    .slick-track {
      display: flex;
    }

    .slick-slide {
      margin-right: 1.5rem;
    }

    .slick-current {
      @include box-shadow;
    }
  }

  &__project {
    max-width: 34rem;

    @media only screen and (max-width: $phone) {
      max-width: 26rem;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:focus,
    &:hover {
      @include box-shadow;
    }

    &:focus {
      @include outline-none;
    }
  }

  &__project:focus &__carousel-link svg,
  &__project:hover &__carousel-link svg {
    fill: $black;
  }

  &__carousel-link {
    border: solid 0.25rem $black;
    border-top: 0;
    padding: 1.5rem;

    @media only screen and (max-width: $phone) {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }

    @media only screen and (max-width: $phone-sm) {
      font-size: 0.7rem;
    }
  }

  &__project:focus &__project-arrow,
  &__project:hover &__project-arrow {
    transform: rotate(-45deg);
  }
}

.banner {
  background-image: url("../assets/img/bg-smileys.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% 12%;

  &__header {
    max-width: 35rem;
  }

  &__emoji {
    display: inline-block;
    max-width: 3rem;
    vertical-align: bottom;

    @media only screen and (max-width: $phone) {
      max-width: 2rem;
    }
  }
}

.testimonials {
  .container {
    @media only screen and (max-width: $tablet-land) {
      text-align: center;
    }
  }

  &__box {
    max-width: 46rem;
  }

  &__quote {
    @media only screen and (max-width: $phone) {
      font-size: 1.5rem !important;
    }

    &-icon {
      top: 0;
      left: 0;
      transform: translate(-35%, -35%);

      @media only screen and (max-width: $tablet-land) {
        max-width: 5rem;
      }
    }
  }

  &__arrow {
    border: 0;
    cursor: pointer;
    padding: 0;
    top: 50%;
    transform: translateY(30%);

    @media only screen and (max-width: 72.5em) {
      max-width: 5rem;
    }

    @media only screen and (max-width: $tablet-land) {
      position: relative !important;
      margin-bottom: 2rem;
      transform: translateY(0);
    }

    &:focus {
      outline: solid 0.25rem $black;
      outline-offset: 0.25rem;
    }

    &--left {
      left: 0;

      @media only screen and (max-width: 72.5em) {
        left: 1rem;
      }

      @media only screen and (max-width: $tablet-land) {
        left: 0;
        margin-right: 1rem;
      }
    }

    &--right {
      right: 0;

      @media only screen and (max-width: 72.5em) {
        right: 1rem;
      }

      @media only screen and (max-width: $tablet-land) {
        right: 0;
      }
    }
  }

  &__carousel-box {
    &:focus {
      outline: none;
    }
  }

  .slick-track {
    display: flex;
  }

  .slick-list {
    padding: 0 !important;
  }

  .slick-slide {
    @media only screen and (max-width: $tablet-land) {
      display: flex;
      align-items: center;
    }
  }
}

.playground {
  &__details {
    @media only screen and (max-width: $tablet-land) {
      width: 100% !important;
    }
  }

  &__projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 1rem;

    @media only screen and (max-width: 51.25em) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media only screen and (max-width: $phone) {
      grid-template-columns: repeat(1, 1fr);
      margin: 0 auto;
    }
  }

  &__project-arrow:focus svg {
    fill: $black;
  }

  &__project {
    max-width: 34rem;

    &:not(:last-child) {
      margin-right: 2rem;

      @media only screen and (max-width: 51.25em) {
        margin-right: 0;
      }

      @media only screen and (max-width: $phone-sm) {
        max-width: 20rem;
      }
    }

    &:focus,
    &:hover {
      @include box-shadow;
    }

    &:focus {
      @include outline-none;
    }
  }

  &__project:focus &__link-wrapper svg,
  &__project:hover &__link-wrapper svg {
    fill: $black;
  }

  &__link-wrapper {
    border: solid 0.25rem $black;
    border-top: 0;
    padding: 1rem;

    @media only screen and (max-width: $tablet-land) {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }

  &__project:focus &__project-arrow,
  &__project:hover &__project-arrow {
    transform: rotate(-45deg);
  }
}

.contact {
  &__details {
    @media only screen and (max-width: $tablet-land) {
      width: 100% !important;
    }
  }
}
